
@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin center-content {
    justify-content: center;
    align-items: center;
}

@mixin flex-column-center {
    @include flex-column;
    @include center-content;
}

@mixin flex-column-between {
    @include flex-column;
    justify-content: space-between;
}

@mixin flex-row-between {
    @include flex-row;
    justify-content: space-between;
}

@mixin image-bg ($color: hsl(231, 69%, 60%), $x-offset: 20%, $y-offset: 100%, $shape-radius: 50rem) {
    position: relative;
    overflow-x: hidden;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        z-index: -1;
        background-color: $color;
        transform: translate($x-offset, $y-offset);
        border-radius: $shape-radius;
    }
}