// color
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$black-opacity-50: hsla(0, 0%, 0%, 0.50);
$black-opacity-25: hsla(0, 0%, 0%, 0.25);
$grey: hsl(0, 0%, 50%);
$image-bg-color: hsl(231, 44%, 94%);
$grey-75: hsl(0, 0%, 75%);
$blue-600: hsl(231, 69%, 60%);
$blue-800: hsl(230, 32%, 21%);
$blue-800-opacity-75: hsla(230, 33%, 21%, 0.75);
$red-400: hsl(0, 94%, 66%);
$grey-50: hsl(0, 0%, 97%);
$blue-950: hsl(229, 31%, 21%);
// font
$font-main: "Rubik", sans-serif;
$fs-base: 1rem;
$fs-xxs: 0.5rem;
$fs-xs: 0.625rem;
$fs-sm: 0.875rem;
$fs-lg: 1.25rem;
$fs-xl: 1.5rem;
$fs-xxl: 2rem;
$fs-xxxl: 2.5rem;
$font-bold: 700;
$font-medium: 500;
$font-normal: 400;
$font-thin: 300;
$letter-spacing: 0.1rem;
$line-height-lg: 1.5rem;
// spacing and margins
$spacing-1: 0.25rem;
$spacing-2: 0.5rem;
$spacing-3: 1rem;
$spacing-4: 1.5rem;
$spacing-5: 2rem;
$spacing-6: 3rem;
// radius
$border-radius-sm: 0.25rem;
$border-radius-md: 0.5rem;
$border-radius-lg: 1rem;
$border-radius-pill: 50rem;
$border-radius-circle: 50%;
// animation
$animation-time: 0.3s;
// border
$border-width: 2px;
// opacity
$default-opacity: 0.5;
// width
$toggle-size: 1rem;
$section-width: 30rem;
$desktop: 1200px;