.card {
    @include flex-column-center;
    text-align: center;
    width: fit-content;
    box-shadow: 0 10px 10px $black-opacity-25;
    border-radius: $border-radius-md;
    padding: $spacing-6 0 $spacing-3 0;
    gap: $spacing-3;

    &__icon {
        svg {
            width: 100%;
            height: auto;
        } 
    }

    &__title {
        @include title-style($size: $fs-lg);
    }

    &__version {
        @include description-style;
    }

    &__link {
        padding: $spacing-3;
        background-color: $blue-600;
        font-size: $fs-xs;
        color: $white;
        cursor: pointer;
        border-radius: $border-radius-sm;
        box-shadow: 0 10px 10px $black-opacity-25;
    }
}