.contact {
    background-color: $blue-600;

    &__form {
        @include flex-column-center;
        gap: $spacing-2;
        padding: $spacing-5 $spacing-3;
        
        color: $white;
        text-align: center;
    }

    &__title {
        font-size: $fs-base;
    }

    &__subtitle {
        font-size: $fs-xs;
        letter-spacing: $letter-spacing * 2;
    }

    &__info-submit {
        @include flex-column-center;
        gap: $spacing-3;
        width: 100%;
    }

    &__input {
        width: 100%;
        position: relative;

        &--email {
            position: relative;
            width: 100%;
            padding: $spacing-3 $spacing-3 $spacing-3 $spacing-2;
            border-radius: $border-radius-sm;
            border-style: solid;
        }

        &--error {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(-25%, -75%);
            display: none;
        }

        &--error-text {
            position: absolute;
            bottom: $spacing-1;
            left: $spacing-2;
            color: $white;
            font-size: $fs-xxs;
            font-style: italic;
            display: none;
        }
    }
    
    &__submit {
        width: 100%;
        font-family: $font-main;
        padding: $spacing-3;
        background-color: $red-400;
        color: $white;
        border: none;
        cursor: pointer;
        border-radius: $border-radius-sm;
    }

    &.is-error {
        .contact__input--error {
            display: block;
        }

        .contact__input--email {
            border: $border-width solid $red-400;
            border-bottom-width: 1rem;
        }

        .contact__input--error-text {
            display: block;
        }
    }

    @media (min-width: $desktop) {
        &__form{
            max-width: $section-width;
            margin: 0 auto;
        }

        &__info-submit {
            @include flex-row;
        }

        &__submit {
            width: fit-content;
            text-wrap: nowrap;
        }
        &__title {
            font-size: $fs-xl;
            padding: $spacing-3 0;
        }
    }
}