%button-shape {
    padding: $spacing-3;
    border-radius: $border-radius-sm;
    box-shadow: 0 10px 10px $black-opacity-25;
}

.heroSection {
    width: 100%;
    @include flex-column-center;

    &__imageContainer {
        width: 100%;
        @include image-bg;
        overflow-x: hidden;
    }
    
    &__content {
        @include flex-column-center;
        padding: $spacing-3;
        gap: $spacing-3;
        text-align: center;
    }

    &__title {
        @include title-style;
    }

    &__description {
        @include description-style;
    }

    &__buttonSection {
        @include flex-row-between;
        gap: $spacing-5;
    }

    &__button {
        @extend %button-shape;

        &--chrome {
            background-color: $blue-600;
            color: $white;
        }

        &--firefox {
            background-color: $grey-50;
            color: $grey;
        }
        
    }

    @media (min-width: $desktop) {
        flex-direction: row-reverse;

        &__content {
            text-align: left;
            align-items: start;
        }

        &__title {
            font-size: $fs-xxxl;
        }

    }
}